<p><%= link_to '返回', admin_infos_path %> |
 <%= link_to '修改', edit_admin_info_path(@info) %>
</p>

<h3>[<%= info_category(@info.category) %>] <%= @info.title %></h3>
<hr>
<p>
	<%= @info.content %>
</p>