<p><%= link_to '返回', admin_infos_path %>
</p>

<h3>[<%= info_category(@info.category) %>] <%= @info.title %></h3>
<hr>
<p>
	<%= simple_format(@info.content) %>
</p>
<p><%= @info.created_at.strftime('%Y-%m-%d') %></p>