<div class="row">
  <div class="col-md-12">
  	<h1 class="text-center"><%= t(".patent") %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/1-ZL200710022021-3.jpg', width: '280', height: '400') %>
    <h4>ZL200710022021.3</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/2-ZL200710026072-3.jpg', width: '280', height: '400') %>
    <h4>ZL200710026072.3</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/3-ZL200610097661-6.jpg', width: '280', height: '400') %>
    <h4>ZL200610097661.6</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/4-ZL200810099363-X.jpg', width: '280', height: '400') %>
    <h4>ZL200810099363.X</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/5-ZL200910035698-X.jpg', width: '280', height: '400') %>
    <h4>ZL200910035698.X</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/6-ZL200910182123-0.jpg', width: '280', height: '400') %>
    <h4>ZL200910182123.0</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/7-ZL200910266279-7.jpg', width: '280', height: '400') %>
    <h4>ZL200910266279.7</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/8-ZL201010269259-8.jpg', width: '280', height: '400') %>
    <h4>ZL201010269259.8</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/9-ZL201010298824-3.jpg', width: '280', height: '400') %>
    <h4>ZL201010298824.3</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/10-ZL201520623751-9.jpg', width: '280', height: '400') %>
    <h4>ZL201520623751.9</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/11-ZL200910035582-6.jpg', width: '280', height: '400') %>
    <h4>ZL200910035582.6</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/12-ZL201110071480-7.jpg', width: '280', height: '400') %>
    <h4>ZL201110071480.7</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/13-ZL201110084012-3.jpg', width: '280', height: '400') %>
    <h6>ZL201110084012.3</h6>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/14-ZL201110268446-9.jpg', width: '280', height: '400') %>
    <h4>ZL201110268446.9</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/15-ZL201110186585-7.jpg', width: '280', height: '400') %>
    <h4>ZL201110186585.7</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/16-ZL201110161776-8.jpg', width: '280', height: '400') %>
    <h4>ZL201110161776.8</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/17-ZL201110196577-0.jpg', width: '280', height: '400') %>
    <h4>ZL201110196577.0</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/18-ZL201110243921-7.jpg', width: '280', height: '400') %>
    <h4>ZL201110243921.7</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/19-ZL201210114753-6.jpg', width: '280', height: '400') %>
    <h4>ZL201210114753.6</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/20-ZL201210006007-5.jpg', width: '280', height: '400') %>
    <h4>ZL201210006007.5</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/21-ZL201210284373-7.jpg', width: '280', height: '400') %>
    <h4>ZL201210284373.7</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/22-ZL201210148048-8.jpg', width: '280', height: '400') %>
    <h4>ZL201210148048.8</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/23-ZL201310001403-3.jpg', width: '280', height: '400') %>
    <h4>ZL201310001403.3</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/24-ZL201210006114-8.jpg', width: '280', height: '400') %>
    <h4>ZL201210006114.8</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/25-ZL201310222487-3.jpg', width: '280', height: '400') %>
    <h4>ZL201310222487.3</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/26-ZL201310223881-9.jpg', width: '280', height: '400') %>
    <h4>ZL201310223881.9</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/27-ZL201210590159-4.jpg', width: '280', height: '400') %>
    <h4>ZL201210590159.4</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/28-ZL201210499659-7.jpg', width: '280', height: '400') %>
    <h4>ZL201210499659.7</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/29-ZL201310223369-4.jpg', width: '280', height: '400') %>
    <h4>ZL201310223369.4</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/30-ZL201210592509-0.jpg', width: '280', height: '400') %>
    <h4>ZL201210592509.0</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/31-ZL201510359543-7.jpg', width: '280', height: '400') %>
    <h4>ZL201510359543.7</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/32-ZL201310223914-X.jpg', width: '280', height: '400') %>
    <h4>ZL201310223914.X</h4>
  </div>

</div>