<div class="row">
  <div class="col-md-12">
  	<h1 class="text-center">实用新型专利</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('practical/practical-1.jpg', width: '280', height: '400') %>
    <h4>同时适用多轴与分体系统的扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-2.jpg', width: '280', height: '400') %>
    <h4>跑道形全频段扬声器单元</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-3.jpg', width: '280', height: '400') %>
    <h4>设置有散热孔的扬声器盆架</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('practical/practical-4.jpg', width: '280', height: '400') %>
    <h4>薄型扬声器的多凸台定位支片结构</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-5.jpg', width: '280', height: '400') %>
    <h4>不用导磁轭的薄型扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-6.jpg', width: '280', height: '400') %>
    <h4>反向磁路结构的薄型扬声器</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('practical/practical-7.jpg', width: '280', height: '400') %>
    <h4>双磁路结构的薄型扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-8.jpg', width: '280', height: '400') %>
    <h4>带凸台的磁路结构</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-9.jpg', width: '280', height: '400') %>
    <h4>带有波浪形振动板的薄型扬声器</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('practical/practical-10.jpg', width: '280', height: '400') %>
    <h4>不用定位支片的薄型扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-11.jpg', width: '280', height: '400') %>
    <h4>扬声器定位支片</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-12.jpg', width: '280', height: '400') %>
    <h4>薄型扬声器音盆</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('practical/practical-13.jpg', width: '280', height: '400') %>
    <h4>有散热块的扬声器磁路</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-14.jpg', width: '280', height: '400') %>
    <h4>薄型电动式扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-15.jpg', width: '280', height: '400') %>
    <h4>薄型扬声器磁路</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('practical/practical-16.jpg', width: '280', height: '400') %>
    <h4>双音盆薄型扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-17.jpg', width: '280', height: '400') %>
    <h4>具有波浪形定位支片的薄型扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-18.jpg', width: '280', height: '400') %>
    <h4>具有锥形定位支片的薄型扬声器</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('practical/practical-19.jpg', width: '280', height: '400') %>
    <h4>可拆卸式薄型扬声器磁路结构</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-20.jpg', width: '280', height: '400') %>
    <h4>具有台阶结构的双音盆薄型扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-21.jpg', width: '280', height: '400') %>
    <h4>扬声器音圈工装</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('practical/practical-22.jpg', width: '280', height: '400') %>
    <h4>多点激励扬声器阵列</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-23.jpg', width: '280', height: '400') %>
    <h4>扬声器音盆折环与盆架的结构</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-24.jpg', width: '280', height: '400') %>
    <h4>跑道形双音盆扬声器</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('practical/practical-25.jpg', width: '280', height: '400') %>
    <h4>定位支片反置的薄型扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-26.jpg', width: '280', height: '400') %>
    <h4>大功率超薄扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-27.jpg', width: '280', height: '400') %>
    <h4>胶黏剂混合搅拌装置</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('practical/practical-28.jpg', width: '280', height: '400') %>
    <h4>扬声器防尘帽取料装置</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-29.jpg', width: '280', height: '400') %>
    <h4>扬声器防尘帽取胶装置</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-30.jpg', width: '280', height: '400') %>
    <h4>扬声器防尘帽旋转工作台</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('practical/practical-31.jpg', width: '280', height: '400') %>
    <h4>扬声器的功率测试系统</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-32.jpg', width: '280', height: '400') %>
    <h4>多点激励源扬声器音箱</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-33.jpg', width: '280', height: '400') %>
    <h4>薄型双音盆倒相式扬声器音箱</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('practical/practical-34.jpg', width: '280', height: '400') %>
    <h4>一种多点激励源扬声器夹具</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-35.jpg', width: '280', height: '400') %>
    <h4>低失真度的薄型扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('practical/practical-36.jpg', width: '280', height: '400') %>
    <h4>多点激励源扬声器夹具</h4>
  </div>
</div>