<div class="row">
  <div class="col-md-12">
  	<h1 class="text-center">发明专利</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/invent-1.jpg', width: '280', height: '400') %>
    <h4>带导管的一体化内置音箱</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/invent-2.jpg', width: '280', height: '400') %>
    <h4>双折叠号筒式电视机用音箱</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/invent-3.jpg', width: '280', height: '400') %>
    <h4>一体式扬声器系统</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/invent-4.jpg', width: '280', height: '400') %>
    <h4>薄型扬声器定位支片结构</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/invent-5.jpg', width: '280', height: '400') %>
    <h4>双驱动扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/invent-6.jpg', width: '280', height: '400') %>
    <h4>扬声器定位支片</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/invent-7.jpg', width: '280', height: '400') %>
    <h4>薄型电动式扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/invent-8.jpg', width: '280', height: '400') %>
    <h4>双音盆薄型扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/invent-9.jpg', width: '280', height: '400') %>
    <h4>具有波浪形定位支片的薄型扬声器</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/invent-10.jpg', width: '280', height: '400') %>
    <h4>有散热块的扬声器磁路</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/invent-11.jpg', width: '280', height: '400') %>
    <h4>基于多台阶导磁轭的薄型扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/invent-12.jpg', width: '280', height: '400') %>
    <h4>扬声器音圈工装1</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/invent-13.jpg', width: '280', height: '400') %>
    <h6>用热压成型机加速扬声器音盆折环与支架胶合固化的方法</h6>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/invent-14.jpg', width: '280', height: '400') %>
    <h4>扬声器副磁体快速安装装置</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/invent-15.jpg', width: '280', height: '400') %>
    <h4>多音盆扬声器</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('invent/invent-16.jpg', width: '280', height: '400') %>
    <h4>具有台阶结构的双音盆薄型扬声器</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/invent-17.jpg', width: '280', height: '400') %>
    <h4>扬声器音圈工装2</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('invent/invent-18.jpg', width: '280', height: '400') %>
    <h4>多点扬声器阵列</h4>
  </div>
</div>