<div class="row">
  <div class="col-md-12">
  	<h1 class="text-center"><%= t(".qualifications") %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('9001C.jpg', width: '280') %>
    <h4>ISO9001 C</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('9001E.jpg', width: '280') %>
    <h4>ISO9001 E</h4>
  </div>
  <!-- <div class="col-md-4">
    <%#= image_tag('certificate-12.jpg', width: '280') %>
    <h4>质量管理体系认证证书</h4>
  </div> -->
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('14001C.jpg', width: '280') %>
    <h4>ISO14001 C</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('14001E.jpg', width: '280') %>
    <h4>ISO14001 E</h4>
  </div>
  <!-- <div class="col-md-4">
    <%#= image_tag('certificate-12.jpg', width: '280') %>
    <h4>质量管理体系认证证书</h4>
  </div> -->
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('certificate-3.jpg', width: '280') %>
    <h4>2013GH010271</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('certificate-4.jpg', width: '280') %>
    <h4>2014GH010214</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('certificate-5.jpg', width: '280') %>
    <h4>2015GH010060</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('certificate-6.jpg', width: '280') %>
    <h4>150205G0339N</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('certificate-7.jpg', width: '280') %>
    <h4>150205G0340N</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('certificate-8.jpg', width: '280') %>
    <h4>160205G0255N</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('certificate-9.jpg', width: '280') %>
    <h4>GR201432000204</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('certificate-10.jpg', width: '280') %>
    <h4>2014-2015</h4>
  </div>
  <div class="col-md-4">
    <%= image_tag('certificate-11.jpg', width: '280') %>
    <h4>B-20150420</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag('certificate-13.jpg', width: '280') %>
    <h4>628282015001</h4>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">

  </div>
</div>