<%= form_for(@message, url: messages_path, method: :post) do |f| %>
	<%= render 'admin/shared/error_messages', object: @message %>
		<div class="row">
			<div class="col-md-6">
				<%= f.label :name, "您的姓名" %>
				<%= f.text_field :name, class: 'form-control' %>
			</div>
			<div class="col-md-6">
				<%= f.label :mobile, "电话号码" %>
				<%= f.text_field :mobile, class: 'form-control' %>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<%= f.label :email, "邮箱" %>
				<%= f.email_field :email, class: 'form-control' %>
			</div>
			<div class="col-md-6">
				<%= f.label :company, "公司" %>
				<%= f.text_field :company, class: 'form-control' %>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<%= f.label :content, "内容" %>
				<%= f.text_area :content, class: 'form-control', rows: "10", placeholder: "..." %>
			</div>
		</div>
		<br>
		<%= f.submit "提交信息", class: "btn btn-primary" %>
<% end %>