<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel"><%= t(".title") %></h4>
</div>
<div class="modal-body">
	<div class="container timeline-container">
    <ul class="timeline">
        <li>
          <div class="timeline-badge primary">1997</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">无锡杰夫电声成立</h4>
              <div class="timeline-body">
            	<%= image_tag("logo.png", height: '30') %>
            </div>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">获得ISO 9002 认证</h4>
            </div>
            <div class="timeline-body">
            	<%= image_tag("iso9001.png", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">1999</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">开始与LG电子合作</h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("lg-logo.jpg", height: '60') %>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
        	<div class="timeline-badge primary">2001</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">开始自营进出口业务，成为SAMSUNG电机的OEM合作商</h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("samsung.jpg", height: '30') %>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2002</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">获得QS- 9000 & ISO9001 认证</h4>
            </div>
            <div class="timeline-body">
            	<%= image_tag("ce.png", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary">2003</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">公司导入ERP，PDM，SRM</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2005</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">获得ISO14001认证</h4>
              <div class="timeline-body">
            	<%= image_tag("iso14001.png", class: "timeline-img") %>
            </div>
            </div>
            
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary">2006</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">与韩国三星电子合作</h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("samsung.jpg", height: '30') %>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2007</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">获得IECQ- HSPM QC080000认证</h4>
            </div>
            <div class="timeline-body">
            	<%= image_tag("iecq-hspm.png", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary">2008</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">被评为“江苏省高新技术企业”</h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("certificate-9.jpg", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2009</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">获得CE认证，获得“江苏省名牌产品”，“江苏省著名商标”</h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("certificate-14.jpg", class: "timeline-img") %><br><br>
              <%= image_tag("certificate-18.jpg", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary">2010</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">被评为“国家火炬计划高新技术企业”</h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("certificate-4.jpg", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2011</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">被评为“江苏省重点培育和发展的国际知名品牌”</h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("certificate-12.jpg", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">通过海关双A类企业审查</h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("certificate-13.jpg", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2012</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">"杰夫电声江苏省博士后创新实践基地"成立</h4>
            </div>
            
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary">2013</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">"无锡杰夫电声有限公司电子产品设计研究院"成立</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2014</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">正式成为韩国LG总部供应商</h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("lg-logo.jpg", height: '60') %>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">与TPV 进行合作</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2015</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">完成股份制改造，筹备上市</h4>
            </div>
            
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary">2016</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">首批AEO认证企业</h4>
            </div>
          </div>
        </li>
    </ul>
	</div>
</div>