<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel"><%= t(".title") %></h4>
</div>
<div class="modal-body">
	<div class="container timeline-container">
    <ul class="timeline">
        <li>
          <div class="timeline-badge primary">1997</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".1997_content") %></h4>
              <div class="timeline-body">
            	<%= image_tag("logo.png", height: '30') %>
            </div>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary">1998</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".1998_content") %></h4>
            </div>
            <div class="timeline-body">
            	<%= image_tag("iso9001.png", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">1999</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".1999_content") %></h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("lg-logo.jpg", height: '60') %>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
        	<div class="timeline-badge primary">2001</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2001_content") %></h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("samsung.jpg", height: '30') %>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2002</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2002_content") %></h4>
            </div>
            <div class="timeline-body">
            	<%= image_tag("ce.png", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary">2003</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2003_content") %></h4>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2005</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2005_content") %></h4>
              <div class="timeline-body">
            	<%= image_tag("iso14001.png", class: "timeline-img") %>
            </div>
            </div>
            
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary">2006</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2006_content") %></h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("samsung.jpg", height: '30') %>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2007</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2007_content") %></h4>
            </div>
            <div class="timeline-body">
            	<%= image_tag("iecq-hspm.png", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary">2008</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2008_content") %></h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("certificate-9.jpg", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2009</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2009_content1") %><br><br>
                <%= t(".2009_content2") %></h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("certificate-14.jpg", class: "timeline-img") %><br><br>
              <%= image_tag("certificate-18.jpg", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary">2010</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2010_content") %></h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("certificate-4.jpg", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2011</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2011_content1") %><br><br>
                <%= t(".2011_content2") %>
              </h4>            
            </div>
            <div class="timeline-body">
              <%= image_tag("certificate-12.jpg", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2011_content3") %></h4>
            </div>
            <div class="timeline-body">
              <%= image_tag("certificate-13.jpg", class: "timeline-img") %>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2012</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2012_content1") %><br><br>
                <%= t(".2012_content2") %>
              </h4>
            </div>
            
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary">2013</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2013_content1") %><br><br>
                <%= t(".2013_content2") %><br><br>
                <%= t(".2013_content3") %> 
              </h4>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2014</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2014_content1") %>
              </h4>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2014_content2") %></h4>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary">2015</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2015_content1") %><br><br><%= t(".2015_content2") %></h4>
            </div>
            
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary">2016</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= t(".2016_content1") %><br><br>
                <%= t(".2016_content2") %><br><br>
                <%= t(".2016_content3") %><br><br>
                <%= t(".2016_content4") %>
              </h4>
            </div>
          </div>
        </li>
    </ul>
	</div>
</div>