<div class="about-jumbotron">
  <div class="container">
    <div class="content">
      <h2><%= t(".title") %></h2>
    </div>
  </div>
</div>

<div class="container">
	<div class="row contact">
	  <div class="row about-contact">
	  	<div class="col-md-4">
	  		<blockquote class="blockquote-reverse introduction-blockquote">
				  <h4 class="about-head"><%= t(".profile") %></h4>
				</blockquote>
	  	</div>
		  <div class="col-md-8">
		  	<p>
		  		<%= @about.summary %>
		  	</p>
		  	<%= link_to t(".more"), about_introduction_path, class: "btn btn-primary", role: "button" %>
		  </div>
		</div>

		<div class="row about-contact">
	  	<div class="col-md-4">
	  		<blockquote class="blockquote-reverse operation-blockquote">
				  <h4 class="about-head"><%= t(".history") %></h4>
				</blockquote>
	  	</div>
		  <div class="col-md-8">
		  	<p>
		  		<%= @about.course %>
		  	</p>
		  	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><%= t(".details") %></button>
		  </div>
		  <!-- Modal -->
				<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				    	<%= render 'static_pages/milestones' %>
				    </div>
				  </div>
				</div>
		</div>

		<div class="row about-contact">
	  	<div class="col-md-4">
	  		<blockquote class="blockquote-reverse ceo-blockquote">
				  <h4 class="about-head"><%= t(".president") %></h4>
				</blockquote>
	  	</div>
		  <div class="col-md-8">
		  	<%= simple_format(@about.ceo) %>
		  	<p class="text-right"><%= image_tag "jiefu-signature.png" %></p>
		  </div>
		</div>

		<div class="row about-contact">
	  	<div class="col-md-4">
	  		<blockquote class="blockquote-reverse certification-blockquote">
				  <h4 class="about-head"><%= t(".certification") %></h4>
				</blockquote>
	  	</div>
		  <div class="col-md-8">
		  	<p><%= link_to t(".honors"), about_honors_path %></p>
		  </div>
		</div>

		<div class="row about-contact">
	  	<div class="col-md-4">
	  		<blockquote class="blockquote-reverse certification-blockquote">
				  <h4 class="about-head"><%= t(".talent") %></h4>
				</blockquote>
	  	</div>
		  <div class="col-md-8">
		  	<p>
		  		<%= t(".talent_content") %>
		  	</p>
		  	<%= link_to t(".job"), careers_path, class: "btn btn-primary", type: "button" %>
		  </div>
		</div>

	</div>
</div>