<div class="jumbotron banner">
  <div class="container">
    <div class="content">
      <h1><%= @home.copywrite1 if @home.copywrite1? %></h1>
			<h2><%= @home.copywrite2 if @home.copywrite2? %></h2>
    </div>
  </div>
</div>

<div class="jumbotron choose-product">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-xs-6"><h3>新品扬声器</h3></div>
        <div class="col-xs-6">
          <div class="dropdown choose">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              最新产品
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to @home.newproduct1, product_path(prodcut_find(@home.newproduct1)) if @home.newproduct1?%></li>
              <li><%= link_to @home.newproduct2, product_path(prodcut_find(@home.newproduct2)) if @home.newproduct2?%></li>
              <li><%= link_to @home.newproduct3, product_path(prodcut_find(@home.newproduct3)) if @home.newproduct3?%></li>
              <li><%= link_to @home.newproduct4, product_path(prodcut_find(@home.newproduct4)) if @home.newproduct4?%></li>
              <li><%= link_to @home.newproduct5, product_path(prodcut_find(@home.newproduct5)) if @home.newproduct5?%></li>
              <li><%= link_to @home.newproduct6, product_path(prodcut_find(@home.newproduct6)) if @home.newproduct6?%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row home-product">
          <div class="col-md-6">
            <%= image_tag(prodcut_find(@home.mainproduct1).photo1.url, width: '200', class: "product-img") if @home.mainproduct1? %>
          </div>
          <div class="col-md-6">
            <h4><%= @home.mainproduct1 if @home.mainproduct1? %></h4>
            <p><%= truncate(prodcut_find(@home.mainproduct1).feature, escape: false, length: 70) if @home.mainproduct1? %></p>
            <%= link_to '查看详细', product_path(prodcut_find(@home.mainproduct1)), class: "btn btn-primary", role: "button" if @home.mainproduct1? %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row home-product">
          <div class="col-md-6">
            <%= image_tag(prodcut_find(@home.mainproduct2).photo1.url, width: '200', class: "product-img") if @home.mainproduct2? %>
          </div>
          <div class="col-md-6">
            <h4><%= @home.mainproduct2 if @home.mainproduct2? %></h4>
            <p><%= truncate(prodcut_find(@home.mainproduct2).feature, escape: false, length: 70) if @home.mainproduct2? %></p>
            <%= link_to '查看详细', product_path(prodcut_find(@home.mainproduct2)), class: "btn btn-primary", role: "button" if @home.mainproduct2? %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row home-product">
          <div class="col-md-6">
            <%= image_tag(prodcut_find(@home.mainproduct3).photo1.url, width: '200', class: "product-img") if @home.mainproduct3? %>
          </div>
          <div class="col-md-6">
            <h4><%= @home.mainproduct3 if @home.mainproduct3? %></h4>
            <p><%= truncate(prodcut_find(@home.mainproduct3).feature, escape: false, length: 70) if @home.mainproduct3? %></p>
            <%= link_to '查看详细', product_path(prodcut_find(@home.mainproduct3)), class: "btn btn-primary", role: "button" if @home.mainproduct3? %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row home-product">
          <div class="col-md-6">
            <%= image_tag(prodcut_find(@home.mainproduct4).photo1.url, width: '200', class: "product-img") if @home.mainproduct4? %>
          </div>
          <div class="col-md-6">
            <h4><%= @home.mainproduct4 if @home.mainproduct4? %></h4>
            <p><%= truncate(prodcut_find(@home.mainproduct4).feature, escape: false, length: 70) if @home.mainproduct4? %></p>
            <%= link_to '查看详细', product_path(prodcut_find(@home.mainproduct4)), class: "btn btn-primary", role: "button" if @home.mainproduct4? %>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="home-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag("home-d.png") %>
            </div>
            <div class="item">
              <%= image_tag("home-aa.png") %>
            </div>
            <div class="item">
              <%= image_tag("home-u.png") %>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
      <div class="col-md-6">
        <h1>可靠 专业 高效</h1>
        <%= simple_format(@home.advantage) %>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row columns">
      <div class="col-md-3">
        <div class="home-box pic">
          <%= image_tag("home-box-b.png") %>
          <h5>公司介绍</h5>
          <h3>杰夫电声专业扬声器制造</h3>
          <p><%= link_to "了解更多详情", about_introduction_path %></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="home-box">
          <%= image_tag("home-box-c.png") %>
          <h5>公司动态</h5>
          <h3>杰夫电声 <br> 杰夫窗口</h3>
          <p><%= link_to "了解更多详情", infos_path %></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="home-box">
          <%= image_tag("home-box-a.png") %>
          <h5>荣誉证书</h5>
          <h3>通过国家权威认证机构审查</h3>
          <p><%= link_to "了解更多详情", about_honors_path %></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="home-box">
          <%= image_tag("home-box-d.png") %>
          <h5>杰夫招聘</h5>
          <h3>你的明天，杰夫的未来。</h3>
          <p><%= link_to "了解更多详情", careers_path %></p>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</div>



