<div class="laboratory-jumbotron">
  <div class="container">
    <div class="content">
      <h2><%= t(".title") %></h2>
      <p><%= @laboratory.laboratory_title_content %></p>
    </div>
  </div>
</div>

<div class="container laboratory">
	<div class="row">
	  <div class="col-md-12">
	  	<h3 class="text-center"><%= @laboratory.rd_title? ? @laboratory.rd_title : "研发实验室介绍" %></h3>
	  	<p><%= @laboratory.rd_content %></p>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-6">
	  	 	<div class="row">
	  			<div class="col-md-12">
	  				<div class="pic">
	  					<%= image_tag('hsf.jpg', width: '520') %>
	  				</div>
				  	<h4><%= @laboratory.hsf_title? ? @laboratory.hsf_title : "HSF 实验室" %></h4>
				  	<p><%= @laboratory.hsf_content %></p>
				  	<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg"><%= t(".more") %></button>
						<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel"><%= @laboratory.hsf_title? ? @laboratory.hsf_title : "HSF 实验室" %></h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
					  					<%= image_tag('hsf.jpg', width: '520') %>
					  				</div>
						      	<p><%= @laboratory.hsf_content %></p>
							    	<small>
							  			<%= simple_format @laboratory.hsf_list %>
										</small>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->
					</div>
				</div>
				<div class="row">
	  			<div class="col-md-6">
	  				<div class="pic">
							<%= image_tag('power-life-laboratory.jpg', width: '250') %>
						</div>
				  	<h4><%= @laboratory.mechanical_title? ? @laboratory.mechanical_title : "环境机械实验室" %></h4>
				  	<p><%= @laboratory.mechanical_content %></p>
						<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-2"><%= t(".more") %></button>
						<div class="modal fade bs-example-modal-lg-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel"><%= @laboratory.mechanical_title? ? @laboratory.mechanical_title : "环境机械实验室" %></h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
					  					<%= image_tag('power-life-laboratory.jpg', width: '520') %>
					  				</div>
						      	<p><%= @laboratory.mechanical_content %></p>
							    	<small>
								  		<%= simple_format @laboratory.mechanical_list %>
										</small>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->
					</div>
					<div class="col-md-6">
						<div class="pic">
							<%= image_tag('salt-spray-laboratory.jpg', width: '250') %>
						</div>
						<h4><%= @laboratory.chemistry_title? ? @laboratory.chemistry_title : "化学测试前处理室" %></h4>
				  	<p><%= @laboratory.chemistry_content %></p>
				  	<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-3"><%= t(".more") %></button>
						<div class="modal fade bs-example-modal-lg-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel"><%= @laboratory.chemistry_title? ? @laboratory.chemistry_title : "化学测试前处理室" %></h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
											<%= image_tag('salt-spray-laboratory.jpg', width: '520') %>
										</div>
						      	<p><%= @laboratory.chemistry_content %></p>
							    	<p><%= simple_format @laboratory.chemistry_list %></p>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->
						
					</div>
				</div>
				<div class="row">
	  			<div class="col-md-12">
	  				<div class="pic">
		  				<%= image_tag('subjective-audition-room.jpg', width: '520') %>
		  			</div>
				  	<h4><%= @laboratory.subjectivity_title? ? @laboratory.subjectivity_title : "主观试听室" %></h4>
				  	<p><%= @laboratory.subjectivity_content %></p>
				  	<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-4"><%= t(".more") %></button>
						<div class="modal fade bs-example-modal-lg-4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel"><%= @laboratory.subjectivity_title? ? @laboratory.subjectivity_title : "主观试听室" %></h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
					  					<%= image_tag('subjective-audition-room.jpg', width: '520') %>
					  				</div>
						      	<p><%= @laboratory.subjectivity_content %></p>
							    	<div class="row">
					  					<div class="col-md-6">
										  	<small>
										  		<%= simple_format @laboratory.subjectivity_list %>
												</small>
											</div>
										</div>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->
					</div>
				</div>
	  </div>
		<div class="col-md-6">
			<div class="row">
			  <div class="col-md-6 laboratory-right">
			  	<div class="pic">
			  		<%= image_tag('audiovisual-room.jpg', width: '250') %>
			  	</div>
			  	<h4><%= @laboratory.multimedia_title? ? @laboratory.multimedia_title : "多媒体视听室" %></h4>
			  	<p>
			  		<%= @laboratory.multimedia_content %>
					</p>
					<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-5"><%= t(".more") %></button>
						<div class="modal fade bs-example-modal-lg-5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel"><%= @laboratory.multimedia_title? ? @laboratory.multimedia_title : "多媒体视听室" %></h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
							  		<%= image_tag('audiovisual-room.jpg', width: '520') %>
							  	</div>
						      	<p><%= @laboratory.multimedia_content %></p>
							    	<small>
											<%= simple_format @laboratory.multimedia_list %>
										</small>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->

			  </div>
			  <div class="col-md-6">
			  	<div class="pic">
			  		<%= image_tag('audio-testing-laboratory.jpg', width: '250') %>
			  	</div>
			  	<h4><%= @laboratory.power_title? ? @laboratory.power_title : "功率寿命实验室" %></h4>
			  	<p><%= @laboratory.power_content %></p>

			  	<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-6"><%= t(".more") %></button>
						<div class="modal fade bs-example-modal-lg-6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel"><%= @laboratory.power_title? ? @laboratory.power_title : "功率寿命实验室" %></h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
							  		<%= image_tag('audio-testing-laboratory.jpg', width: '520') %>
							  	</div>
						      	<p><%= @laboratory.power_content %></p>
							    	<small>
								  		<%= simple_format @laboratory.power_list %>
										</small>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->

			  </div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="pic">
			  		<%= image_tag('environmental-mechanical.jpg', width: '250', class: "gray") %>
			  	</div>
			  	<h4><%= @laboratory.audio_title? ? @laboratory.audio_title : "声频检测实验室" %></h4>
			  	<p>
			  		<%= @laboratory.audio_content %>
					</p>

					<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-7"><%= t(".more") %></button>
						<div class="modal fade bs-example-modal-lg-7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel"><%= @laboratory.audio_title? ? @laboratory.audio_title : "声频检测实验室" %></h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
							  		<%= image_tag('environmental-mechanical.jpg', width: '520') %>
							  	</div>
						      	<p><%= @laboratory.audio_content %></p>
							    	<div class="row">
											<div class="col-md-6">
												<small>
													<%= simple_format @laboratory.audio_list %>
												</small>
											</div>
										</div>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->
			  </div>
			  <div class="col-md-6">
			  	<div class="pic">
			  		<%= image_tag('d3.png', width: '250') %>
			  	</div>
			  	<h4><%= @laboratory.anechoic_title? ? @laboratory.anechoic_title : "消声室" %></h4>
			  	<p><%= @laboratory.anechoic_content %></p>

			  	<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-8"><%= t(".more") %></button>
						<div class="modal fade bs-example-modal-lg-8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel"><%= @laboratory.anechoic_title? ? @laboratory.anechoic_title : "消声室" %></h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
							  		<%= image_tag('d3.png', width: '520') %>
							  	</div>
						      	<p><%= @laboratory.anechoic_content %></p>
							    	<small>
								  		<%= simple_format @laboratory.anechoic_list %>
										</small>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->
			  	
			  </div>
			</div>
			<div class="row">
				<div class="col-md-6 laboratory-right-bottom">
					<div class="pic">
			  		<%= image_tag('salt-spray-laboratory2.jpg', width: '250') %>
			  	</div>
			  	<h4><%= @laboratory.salt_title? ? @laboratory.salt_title : "盐雾实验室" %></h4>
			  	<p>
			  		<%= @laboratory.salt_content %>
					</p>
					<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-9"><%= t(".more") %></button>
						<div class="modal fade bs-example-modal-lg-9" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel"><%= @laboratory.salt_title? ? @laboratory.salt_title : "盐雾实验室" %></h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
					  					<%= image_tag('salt-spray-laboratory2.jpg', width: '520') %>
					  				</div>
						      	<p><%= @laboratory.salt_content %></p>
							    	<small>
											<%= simple_format @laboratory.salt_list %>
										</small>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->
			  </div>
			</div>
		</div>
	</div>
</div>
