<div class="laboratory-jumbotron">
  <div class="container">
    <div class="content">
      <h2>杰夫实验室</h2>
      <p>杰夫电声测试实验室是国内最早定位于扬声器单元及系统领域的专业电声测试实验室之一。测试实验室力求测试的科学性与严谨性，率先引入国际最先进和最专业的测试方法和测试设备。工程师们本着公平，客观，准确的工作态度，判定着杰夫每一个产品的合格与否，因此，实验室的测试结果，以其权威性和说服力，代表了该类产品的总体技术水平，并为客户的产品选型提供最为准确有效的参考。</p>
    </div>
  </div>
</div>

<div class="container laboratory">
	<div class="row">
	  <div class="col-md-12">
	  	<h3 class="text-center">研发实验室及主要测试资源</h3>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-6">
	  	 	<div class="row">
	  			<div class="col-md-12">
	  				<div class="pic">
	  					<%= image_tag('hsf.jpg', width: '520') %>
	  				</div>
				  	<h4>HSF 实验室</h4>
				  	<p>该实验室主要测试分析元器件、成品中有害物质含量是否符合客户要求，对元器件、成品进行有害物质管控。</p>
				  	<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg">了解详细</button>
						<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">HSF 实验室</h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
					  					<%= image_tag('hsf.jpg', width: '520') %>
					  				</div>
						      	<p>该实验室主要测试分析元器件、成品中有害物质含量是否符合客户要求，对元器件、成品进行有害物质管控。</p>
							    	<small>
							  			检测项目：<br>
									  	测试RoHS指令中有害物质（Pb、Hg、Cd、Cr6+ 及PBBs、PBDEs）的定性分析。<br>
											测试REACH法规中的部分限制物质，比如邻苯二甲酸盐、N－甲基吡咯烷酮等物质的定量分析。<br>
											测试卤素含量定量分析。
										</small>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->
					</div>
				</div>
				<div class="row">
	  			<div class="col-md-6">
	  				<div class="pic">
							<%= image_tag('power-life-laboratory.jpg', width: '250') %>
						</div>
				  	<h4>环境机械实验室</h4>
				  	<p>该实验室主要是模拟产品在极端高温、极端低温、高温高湿及极端高温低温交替变化对产品的影响。机械试验则通过模拟产品在运输、搬动过程中受到影响后对产品的影响。</p>
						<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-2">了解详细</button>
						<div class="modal fade bs-example-modal-lg-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">环境机械实验室</h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
					  					<%= image_tag('power-life-laboratory.jpg', width: '520') %>
					  				</div>
						      	<p>该实验室主要是模拟产品在极端高温、极端低温、高温高湿及极端高温低温交替变化对产品的影响。机械试验则通过模拟产品在运输、搬动过程中受到影响后对产品的影响。</p>
							    	<small>
								  		检测项目：<br>
											环境测试<br>
											高温环境<br>
											低温测试<br>
											高温高湿试验<br>
											高低温冲击试验<br>
											机械试验<br>
											振动试验
										</small>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->
					</div>
					<div class="col-md-6">
						<div class="pic">
							<%= image_tag('salt-spray-laboratory.jpg', width: '250') %>
						</div>
						<h4>化学测试前处理室</h4>
				  	<p>样品前处理是指样品的制备和对样品采用合成分解和溶解及对待样品进行提取、净化、浓缩的过程，使被测样品转变成可测定的形式定量、定性的分析检测。</p>
				  	<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-3">了解详细</button>
						<div class="modal fade bs-example-modal-lg-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">化学测试前处理室</h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
											<%= image_tag('salt-spray-laboratory.jpg', width: '520') %>
										</div>
						      	<p>样品前处理是指样品的制备和对样品采用合成分解和溶解及对待样品进行提取、净化、浓缩的过程，使被测样品转变成可测定的形式定量、定性的分析检测。</p>
							    	<p><small>
											实验室简介：<br>
											本实验室主要通过微波萃取的技术，采取国内最先进的装置，带有功率选择、控温、控时的微波制样设备进行连续萃取，大大提高了样品的批处理效率。</small></p>
										<p><small>
											实验室功用：<br>
											主要用于应对RoHS指令中有害物质的测试前处理，REACH法规中的部分限制物质的测试前处理。
										</small></p>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->
						
					</div>
				</div>
				<div class="row">
	  			<div class="col-md-12">
	  				<div class="pic">
		  				<%= image_tag('subjective-audition-room.jpg', width: '520') %>
		  			</div>
				  	<h4>主观试听室</h4>
				  	<p>该实验室采用IEC60268-13《扬声器听音试验》相关标准，对扬声器及系统产品进行听音试验。本公司依托该试验室参与起草了新的国家标准GB／T12060.13，用于替代GB／T12058。</p>
				  	<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-4">了解详细</button>
						<div class="modal fade bs-example-modal-lg-4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">主观试听室</h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
					  					<%= image_tag('subjective-audition-room.jpg', width: '520') %>
					  				</div>
						      	<p>该实验室采用IEC60268-13《扬声器听音试验》相关标准，对扬声器及系统产品进行听音试验。本公司依托该试验室参与起草了新的国家标准GB／T12060.13，用于替代GB／T12058。</p>
							    	<div class="row">
					  					<div class="col-md-6">
										  	<small>
										  		检测项目：<br>
													语音（男声、女声）<br>
													戏剧<br>
													合唱<br>
													室内乐<br>
													管弦乐<br>
													流行／摇滚<br>
													其他
												</small>
											</div>
											<div class="col-md-6">
												<small>
													仪器设备:<br>
													试听室 <br>
													90立方米 <br>
													本噪﹤35dB（A）<br>
													混响时间≈0.4s<br>
													音响系统<br>
													Opera CD Player<br>
													Opera M100 amplifier<br>
													Classic 6.1 amplifier<br>
													JBL 4312D monitor speaker<br>
													ElAC BS53 loudspeaker
												</small>
											</div>
										</div>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->
					</div>
				</div>
	  </div>
		<div class="col-md-6">
			<div class="row">
			  <div class="col-md-6 laboratory-right">
			  	<div class="pic">
			  		<%= image_tag('audiovisual-room.jpg', width: '250') %>
			  	</div>
			  	<h4>多媒体视听室</h4>
			  	<p>
			  		该实验室根据IEC－29-B《家庭影院听音室标准》推荐的听音环境进行设计，按照多声道
		环绕系统进行部署，优化声场、频域、瞬态响应等声学特性，以便听音员对多扬声器单元及系统进行试听、比对与评价。
					</p>
					<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-5">了解详细</button>
						<div class="modal fade bs-example-modal-lg-5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">多媒体视听室</h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
							  		<%= image_tag('audiovisual-room.jpg', width: '520') %>
							  	</div>
						      	<p>该实验室根据IEC－29-B《家庭影院听音室标准》推荐的听音环境进行设计，按照多声道
		环绕系统进行部署，优化声场、频域、瞬态响应等声学特性，以便听音员对多扬声器单元及系统进行试听、比对与评价。</p>
							    	<small>
											检测项目：<br>
											杜比多声道环绕声场<br>
											DTS多声道环绕声场<br>
											THX多声道环绕声场<br><br>
											仪器设备：<br>
											视听室<br>
											容积85立方米<br>
											本底噪声﹤25dB（A）<br>
											混响时间≈0.45s
										</small>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->

			  </div>
			  <div class="col-md-6">
			  	<div class="pic">
			  		<%= image_tag('audio-testing-laboratory.jpg', width: '250') %>
			  	</div>
			  	<h4>功率寿命实验室</h4>
			  	<p>该实验室可同时对多路电声器件进行功率寿命试验，以检验产品的失效规律、失效率、平均寿命等可靠性特征量。</p>

			  	<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-6">了解详细</button>
						<div class="modal fade bs-example-modal-lg-6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">功率寿命实验室</h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
							  		<%= image_tag('audio-testing-laboratory.jpg', width: '520') %>
							  	</div>
						      	<p>该实验室可同时对多路电声器件进行功率寿命试验，以检验产品的失效规律、失效率、平均寿命等可靠性特征量。</p>
							    	<small>
								  		检测项目：<br>
											正弦波信号测试<br>
											白噪声信号测试<br>
											粉红噪声信号测试<br>
											模拟节目信号测试<br>
											锯齿波信号测试<br>
											其它音频信号测试<br><br>
											仪器设备：<br>
											EIA426B美国工业标准<br>
											IEC268-5国际电工委员会标准<br>
											GB／T12060.5-2011中国国家标准<br>
											JIS C5532 日本工业标准<br>
											DIN45573 德国国家标准
										</small>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->

			  </div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="pic">
			  		<%= image_tag('environmental-mechanical.jpg', width: '250', class: "gray") %>
			  	</div>
			  	<h4>声频检测实验室</h4>
			  	<p>
			  		该实验室率先引进国际最先进和最专业的测试方法和测试设备,为电声产品,包括扬声器及系统作电场的测试。
					</p>

					<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-7">了解详细</button>
						<div class="modal fade bs-example-modal-lg-7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">声频检测实验室</h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
							  		<%= image_tag('environmental-mechanical.jpg', width: '520') %>
							  	</div>
						      	<p>该实验室率先引进国际最先进和最专业的测试方法和测试设备,为电声产品,包括扬声器及系统作电场的测试。</p>
							    	<div class="row">
											<div class="col-md-6">
												<small>
													检测项目：<br>
													阻抗<br>
													最低共振频率<br>
													频率响应范围<br>
													声压级<br>
													失真<br>
													T/S参数<br>
													指向性<br>
												其他
												</small>
											</div>
											<div class="col-md-6">
												<small>
													仪器设备：<br>
													Klippel分析测试仪<br>
													B&K音频分析仪<br>
													Lms声频测试系统<br>
													Mlssa声频测试系统<br>
													NTI纯音测试系统<br>
													LinearX指向性测量精密转台
												</small>
											</div>
										</div>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->
			  </div>
			  <div class="col-md-6">
			  	<div class="pic">
			  		<%= image_tag('d3.png', width: '250') %>
			  	</div>
			  	<h4>消声室</h4>
			  	<p>消声室的主要功能是为声学测试提供一个自由场空间或半自由场空间。自由场是指声波在无限大空间里传播时,不存在任何反射体和反射面。</p>

			  	<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-8">了解详细</button>
						<div class="modal fade bs-example-modal-lg-8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">消声室</h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
							  		<%= image_tag('d3.png', width: '520') %>
							  	</div>
						      	<p>消声室的主要功能是为声学测试提供一个自由场空间或半自由场空间。自由场是指声波在无限大空间里传播时,不存在任何反射体和反射面。</p>
							    	<small>
								  		本消声室简介：<br>
											消声室类型:全消声室<br>
											吸声材料类型:金属尖劈<br>
											全消声室地网类型:钢丝软地<br>
											消声室功用:主要用于机电、家电、通讯产品等标准实验精密测试。<br>
											消声室大小:8.0m ×8.0m×6.9m<br>
											消声室性能:本底噪音≤15dB（A），截止频率≤80Hz。<br>
											鉴定依据：依据国标ISO4744和国标GB6882-86 鉴定方法。
										</small>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->
			  	
			  </div>
			</div>
			<div class="row">
				<div class="col-md-6 laboratory-right-bottom">
					<div class="pic">
			  		<%= image_tag('salt-spray-laboratory2.jpg', width: '250') %>
			  	</div>
			  	<h4>盐雾实验室</h4>
			  	<p>
			  		该实验室主要通过盐雾试验箱释放被压缩的空气产生的气流,达到连续喷雾的目的,用于检测金属部件电镀层表面的质量及均匀性。
					</p>
					<!--  -->
				  	<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg-9">了解详细</button>
						<div class="modal fade bs-example-modal-lg-9" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						    	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">盐雾实验室</h4>
						      </div>
						      <div class="modal-body">
						      	<div class="pic">
					  					<%= image_tag('salt-spray-laboratory2.jpg', width: '520') %>
					  				</div>
						      	<p>该实验室主要通过盐雾试验箱释放被压缩的空气产生的气流,达到连续喷雾的目的,用于检测金属部件电镀层表面的质量及均匀性。</p>
							    	<small>
											检测项目：<br>
											盐雾试验<br>
											实验温度﹤55℃<br>
											试验湿度﹤98%RH<br>
											试验时间﹥48Hrs
										</small>
						      </div>
						    </div>
						  </div>
						</div>
						<!--  -->
			  </div>
			</div>
		</div>
	</div>
</div>
