<div class="contact-jumbotron">
  <div class="container">
    <div class="content">
      <h2><%= t(".title") %></h2>
    </div>
  </div>
</div>

<div class="container">
	<div class="row contact">
	  <div class="col-md-8 contact-left">
	  	<p><%= t(".content1") %> <a href="mailto:#">info@jiefu.com.cn</a></p>
	  		<% flash.each do |message_type, message| %>
				  <div class="alert alert-<%= message_type %>"><%= message %></div>
				<% end %>
				<%= render 'static_pages/message_form' %>
			<p><%= t(".content2") %></p>
		</div>
	  <div class="col-md-4">
	  	<h4><%= t(".contact") %></h4>
	  	<address>
			  <strong><%= t(".china") %></strong><br>
			  <%= t(".china_address") %> <br>
			  <%= t(".china_post") %>：214192 <br>
			  <abbr title="Phone"><%= t(".tel") %>:</abbr> +86 510 83788398,82237687 <br>
			  <abbr title="Fax"><%= t(".fax") %>:</abbr> +86 510 83782499 <br>
			  <%= t(".who") %>：<%= t(".people") %>：
			</address>

			<address>
			  <strong><%= t(".abroad") %></strong><br>
			  <%= t(".abroad_address") %> <br>
			  <abbr title="Phone"><%= t(".tel") %>:</abbr> +86 510 83788398,82237687 <br>
			  <abbr title="Fax"><%= t(".fax") %>:</abbr> +86 510 83782499 <br>
			  <%= t(".who") %>：Sophie, Rachel​
			</address>
	  </div>
	</div>
</div>