<% provide(:title, t(".title")) %>

<div class="about-jumbotron">
  <div class="container">
    <div class="content">
      <h2><%= t(".title") %></h2>
    </div>
  </div>
</div>

<div class="container careers">

	<div class="row contact">
  	<div class="col-md-3">
			<section class="title-banner">
        <div class="banner-content">
          <h2 class="banner-title"><%= t(".title1") %><br><%= t(".title2") %></h2>
        </div>
    	</section>
			<p class="careers-small-title"><small><%= t(".content") %></small></p>
			
  	</div>

		<div class="col-md-7 col-md-offset-2">
			<table class="table table-hover careers-table">
				<thead> 
					<tr> 
						<th><%= t(".position") %></th> 
						<th><%= t(".area") %></th> 
						<th><%= t(".number") %></th> 
					</tr> 
				</thead>
	  		<tbody> 
	  			<% @careers.each do |career| %>
	  				<tr> 
		  				<td><%= link_to career.position, career_path(career), class: "carrers-link" %></td> 
		  				<td><%= career.place %></td> 
		  				<td><%= career.people %>名</td> 
		  			</tr>
	  			<% end %>
	  		</tbody> 
	  	</table>
		</div>
	</div>
</div>