<% provide(:title, @career.position) %>

<div class="container">
	<div class="row contact">
		  <div class="row about-contact">
		  	<div class="col-md-4 back-careers">
					<h5><%= link_to t(".back"), careers_path, class: "carrers-link" %></h5>
		  	</div>
		  	<div class="col-md-8 careers-detail">
					<h2><%= @career.position %></h2>
					<p><%= t(".place") %>:  <%= @career.place %></p>
					<p><small><%= t(".people") %>:  <%= @career.people %>名</small></p>
					<a class="btn btn-primary" href="mailto:hr@jiefu.com.cn" role="button"><%= t(".apply") %></a>
					<h3><%= t(".requirements") %></h3>
					<ul>
					  <%= simple_format(@career.content) %>
					</ul>
					<h3><%= t(".email") %></h3>
					<ul>
					  <li>hr@jiefu.com.cn</li>
					  <li>info@jiefu.com.cn</li>
					</ul>
				</div>
			</div>
	</div>
</div>
