<h3>实验中心修改</h3>

<hr>

<%= form_for @laboratory, url: admin_laboratory_path(@laboratory) do |f| %>
  <%= render 'admin/shared/error_messages', object: @laboratory %>

  <div class="row">
	  <div class="col-md-12">
	    <div class="panel panel-default">
	      <div class="panel-heading">实验室中心Banner介绍</div>
	      <div class="panel-body">
	        <%= f.text_area :laboratory_title_content, rows: "3", class: 'form-control' %>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-12">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= f.text_field :rd_title, class: 'form-control' %></div>
	      <div class="panel-body">
	        <%= f.text_area :rd_content, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= f.text_field :hsf_title, class: 'form-control' %></div>
	      <div class="panel-body">
	        <%= f.text_area :hsf_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :hsf_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= f.text_field :multimedia_title, class: 'form-control' %></div>
	      <div class="panel-body">
	      	<%= f.text_area :multimedia_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :multimedia_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= f.text_field :power_title, class: 'form-control' %></div>
	      <div class="panel-body">
	        <%= f.text_area :power_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :power_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= f.text_field :mechanical_title, class: 'form-control' %></div>
	      <div class="panel-body">
	        <%= f.text_area :mechanical_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :mechanical_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= f.text_field :chemistry_title, class: 'form-control' %></div>
	      <div class="panel-body">
	      	<%= f.text_area :chemistry_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :chemistry_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= f.text_field :audio_content, class: 'form-control' %></div>
	      <div class="panel-body">
	      	<%= f.text_area :audio_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :audio_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><%= f.text_field :anechoic_title, class: 'form-control' %></div>
      <div class="panel-body">
        <%= f.text_area :anechoic_content, rows: "3", class: 'form-control' %>
        <hr>
        <%= f.text_area :anechoic_list, rows: "5", class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= f.text_field :subjectivity_title, class: 'form-control' %></div>
	      <div class="panel-body">
	      	<%= f.text_area :subjectivity_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :subjectivity_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= f.text_field :salt_title, class: 'form-control' %></div>
	      <div class="panel-body">
	        <%= f.text_area :salt_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :salt_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>
	</div>

	<%= f.submit "修改内容", class: "btn btn-primary" %>
<% end %>