<h3>实验中心修改</h3>

<hr>

<%= form_for @laboratory, url: admin_laboratory_path(@laboratory) do |f| %>
  <%= render 'admin/shared/error_messages', object: @laboratory %>

  <div class="row">
	  <div class="col-md-12">
	    <div class="panel panel-default">
	      <div class="panel-heading">实验室中心Banner介绍</div>
	      <div class="panel-body">
	        <%= f.text_area :laboratory_title_content, rows: "3", class: 'form-control' %>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-12">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= @laboratory.rd_title? ? @laboratory.rd_title : "研发实验室介绍" %></div>
	      <div class="panel-body">
	        <%= f.text_area :rd_content, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= @laboratory.hsf_title? ? @laboratory.hsf_title : "HSF 实验室" %></div>
	      <div class="panel-body">
	        <%= f.text_area :hsf_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :hsf_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= @laboratory.multimedia_title? ? @laboratory.multimedia_title : "多媒体视听室" %></div>
	      <div class="panel-body">
	      	<%= f.text_area :multimedia_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :multimedia_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= @laboratory.power_title? ? @laboratory.power_title : "功率寿命实验室" %></div>
	      <div class="panel-body">
	        <%= f.text_area :power_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :power_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= @laboratory.mechanical_title? ? @laboratory.mechanical_title : "环境机械实验室" %></div>
	      <div class="panel-body">
	        <%= f.text_area :mechanical_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :mechanical_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= @laboratory.chemistry_title? ? @laboratory.chemistry_title : "化学测试前处理室" %></div>
	      <div class="panel-body">
	      	<%= f.text_area :chemistry_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :chemistry_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= @laboratory.audio_title? ? @laboratory.audio_title : "声频检测实验室" %></div>
	      <div class="panel-body">
	      	<%= f.text_area :audio_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :audio_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><%= @laboratory.anechoic_title? ? @laboratory.anechoic_title : "消声室" %></div>
      <div class="panel-body">
        <%= f.text_area :anechoic_content, rows: "3", class: 'form-control' %>
        <hr>
        <%= f.text_area :anechoic_list, rows: "5", class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= @laboratory.subjectivity_title? ? @laboratory.subjectivity_title : "主观试听室" %></div>
	      <div class="panel-body">
	      	<%= f.text_area :subjectivity_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :subjectivity_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading"><%= @laboratory.salt_title? ? @laboratory.salt_title : "盐雾实验室" %></div>
	      <div class="panel-body">
	        <%= f.text_area :salt_content, rows: "3", class: 'form-control' %>
	        <hr>
	        <%= f.text_area :salt_list, rows: "5", class: 'form-control' %>
	      </div>
	    </div>
	  </div>
	</div>

	<%= f.submit "修改内容", class: "btn btn-primary" %>
<% end %>