<h3>首页信息修改</h3>
<hr>

<%= form_for @home, url: admin_home_path(@home) do |f| %>
  <%= render 'admin/shared/error_messages', object: @home %>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">广告语</div>
        <div class="panel-body">
          <p><%= f.text_field :copywrite1, class: 'form-control' %></p>
          <p><%= f.text_field :copywrite2, class: 'form-control' %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">最新产品推荐</div>
        <div class="panel-body">
          <p><%= f.text_field :newproduct1, class: 'form-control', placeholder: "填写产品型号" %></p>
          <p><%= f.text_field :newproduct2, class: 'form-control', placeholder: "填写产品型号" %></p>
          <p><%= f.text_field :newproduct3, class: 'form-control', placeholder: "填写产品型号" %></p>
          <p><%= f.text_field :newproduct4, class: 'form-control', placeholder: "填写产品型号" %></p>
          <p><%= f.text_field :newproduct5, class: 'form-control', placeholder: "填写产品型号" %></p>
          <p><%= f.text_field :newproduct6, class: 'form-control', placeholder: "填写产品型号"%></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">主打产品</div>
        <div class="panel-body">
          <%= image_tag(prodcut_find(@home.mainproduct1).photo1.url, width: '140', class: "product-img") if @home.mainproduct1? %>
          <h4><%= f.text_field :mainproduct1, class: 'form-control', placeholder: "填写产品型号" %></h4>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">主打产品</div>
        <div class="panel-body">
          <%= image_tag(prodcut_find(@home.mainproduct2).photo1.url, width: '140', class: "product-img") if @home.mainproduct2? %>
          <h4><%= f.text_field :mainproduct2, class: 'form-control', placeholder: "填写产品型号" %></h4>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">主打产品</div>
        <div class="panel-body">
          <%= image_tag(prodcut_find(@home.mainproduct3).photo1.url, width: '140', class: "product-img") if @home.mainproduct3? %>
          <h4><%= f.text_field :mainproduct3, class: 'form-control', placeholder: "填写产品型号" %></h4>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">主打产品</div>
        <div class="panel-body">
          <%= image_tag(prodcut_find(@home.mainproduct4).photo1.url, width: '140', class: "product-img") if @home.mainproduct4? %>
          <h4><%= f.text_field :mainproduct4, class: 'form-control', placeholder: "填写产品型号" %></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">公司优势</div>
        <div class="panel-body">
          <%= f.text_area :advantage, rows: "10", class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit "修改内容", class: "btn btn-primary" %>
<% end %>
