<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<h3>首页信息    <small><%= link_to "修改", edit_admin_home_path(@home) %></small></h3>
<hr>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">广告语</div>
      <div class="panel-body">
        <p><%= @home.copywrite1 %></p>
        <p><%= @home.copywrite2 %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">最新产品推荐</div>
      <div class="panel-body">
        <p><%= @home.newproduct1 if @home.newproduct1? %></p>
        <p><%= @home.newproduct2 if @home.newproduct2? %></p>
        <p><%= @home.newproduct3 if @home.newproduct3? %></p>
        <p><%= @home.newproduct4 if @home.newproduct4? %></p>
        <p><%= @home.newproduct5 if @home.newproduct5? %></p>
        <p><%= @home.newproduct6 if @home.newproduct6? %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">主打产品</div>
      <div class="panel-body">
        <%= image_tag(prodcut_find(@home.mainproduct1).photo1.url, width: '140', class: "product-img") if @home.mainproduct1? %>
        <h4><%= @home.mainproduct1 if @home.mainproduct1? %></h4>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">主打产品</div>
      <div class="panel-body">
        <%= image_tag(prodcut_find(@home.mainproduct2).photo1.url, width: '140', class: "product-img") if @home.mainproduct2? %>
        <h4><%= @home.mainproduct2 if @home.mainproduct2? %></h4>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">主打产品</div>
      <div class="panel-body">
        <%= image_tag(prodcut_find(@home.mainproduct3).photo1.url, width: '140', class: "product-img") if @home.mainproduct3? %>
        <h4><%= @home.mainproduct3 if @home.mainproduct3? %></h4>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">主打产品</div>
      <div class="panel-body">
        <%= image_tag(prodcut_find(@home.mainproduct4).photo1.url, width: '140', class: "product-img") if @home.mainproduct4? %>
        <h4><%= @home.mainproduct4 if @home.mainproduct4? %></h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">公司优势</div>
      <div class="panel-body">
        <%= simple_format(@home.advantage) %>
      </div>
    </div>
  </div>
</div>
