<% provide(:title, @product.name) %>
<div class="container news_list">
	<ol class="breadcrumb news_breadcrumb">
	  <li><%= link_to t(".return"), products_path %></li>
	</ol>

	<div class="container product_detail">
		<div class="row">
		  <div class="col-md-6 product_detail_img">
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="photo-a">
			    	<%= image_tag(@product.photo1_url, class: "product-img") if @product.photo1? %>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="photo-b">
			    	<%= image_tag(@product.photo2_url, class: "product-img") if @product.photo2? %>
			    </div>
			  </div>
			  <ul class="nav nav-pills product_detail_img_list" role="tablist">
			    <li role="presentation" class="active"><a href="#photo-a" aria-controls="photo-a" role="tab" data-toggle="tab"><%= image_tag(@product.photo1.url, width: '80', class: "img-thumbnail") if @product.photo1? %></a></li>
			    <li role="presentation"><a href="#photo-b" aria-controls="photo-b" role="tab" data-toggle="tab"><%= image_tag(@product.photo2.url, width: '80', class: "img-thumbnail") if @product.photo1? %></a></li>
			  </ul>
		  </div>
		  <div class="col-md-6 product_detail_text">
		  	<h2><%= @product.name %></h2>

				<div class="product_detail_content">
				  <!-- Nav tabs -->
				  <ul class="nav nav-pills" role="tablist">
				  	<li role="presentation" class="active"><a href="#parameter" aria-controls="parameter" role="tab" data-toggle="tab"><%= t(".parameter") %></a></li>
				    <li role="presentation"><a href="#feature" aria-controls="feature" role="tab" data-toggle="tab"><%= t(".feature") %></a></li>
				    <li role="presentation"><a href="#construction" aria-controls="construction" role="tab" data-toggle="tab"><%= t(".construction") %></a></li>
				    <li role="presentation"><a href="#graph" aria-controls="graph" role="tab" data-toggle="tab"><%= t(".graph") %></a></li>
				  </ul>

				  <!-- Tab panes -->
				  <div class="tab-content">
				  	<div role="tabpanel" class="tab-pane active" id="parameter">
				    	<ul class="list-unstyled">
							  <li><%= t("products.size") %>mm : <%= @product.size_length %>*<%= @product.size_width %>*<%= @product.size_height %></li>
							  <li><%= t("products.impedance") %>（Ω）: <%= @product.impedance %></li>
							  <li>FO（Hz）: <%= @product.fo %></li>
							  <li><%= t("products.rated_power") %>: <%= @product.rated_power %></li>
							  <li><%= t("products.sensitivity") %>（dB）: <%= @product.sensitivity %></li>
							  <li><%= t("products.frequency") %> : <%= @product.frequency %></li>
							</ul>
				    </div>
				    <div role="tabpanel" class="tab-pane" id="feature">
				    	<p><%= @product.feature %></p>
				    </div>
				    <div role="tabpanel" class="tab-pane" id="construction">
				    	<%= image_tag(@product.configuration1.url, class: "product-img") if @product.configuration1? %>
				    	<%= image_tag(@product.configuration1.url, class: "product-img") if @product.configuration1? %>
				    </div>
				    <div role="tabpanel" class="tab-pane" id="graph">
				    	<%= image_tag(@product.curve1.url, class: "product-img") if @product.curve1? %>
				    	<%= image_tag(@product.curve2.url, class: "product-img") if @product.curve2? %>
				    </div>
				  </div>
				</div>
				
				<%= link_to t(".support"), support_path, html_options = { class: "btn btn-primary", role: "button"} %>
		  </div>
		</div>
	</div>
</div>