<% provide(:title, @info.title) %>

<div class="news-jumbotron">
  <div class="container">
    <div class="content">
      <h2><%= t("infos.title") %></h2>
    </div>
  </div>
</div>

<div class="container news_content">
	<div class="row news">
	  <div class="col-md-12">
	  	<h2>[<%= info_category(@info.category) %>] <%= @info.title %></h2>
	  	<p class="news-time"><small><%= @info.created_at.strftime('%Y-%m-%d') %></small></p>
			
			<div class="content">
				<%= simple_format(@info.content) %>
			</div>
	  	</p>
	  </div>

  </div>
</div>