<div class="jumbotron choose-product choose-foot">

</div>
<footer class="footer footer-list">
  <div class="container">
    <div class="row">
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong><%= t("menu.products") %></strong></li>
          <li><%= link_to t("footer.speaker"), products_path %></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong><%= t("menu.laboratory") %></strong></li>
          <li><%= link_to t("footer.laboratory"), laboratory_path %></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong><%= t("menu.support") %></strong></li>
          <li><%= link_to t("footer.support"), support_path %></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong><%= t("menu.news") %></strong></li>
          <li><%= link_to t("footer.news"), infos_path %></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong><%= t("menu.about") %></strong></li>
          <li><%= link_to t("footer.about"), about_path %></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong></strong></li>
          <li><%= link_to t("footer.privacy"), privacy_path %></li>
          <li><%= link_to t("footer.use"), terms_of_use_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="jiefu-id text-center" id="cart-counter" data-turbolinks-permanent >
      <script id="jsgovicon" src="http://odr.jsdsgsxt.gov.cn:8081/mbm/app/main/electronic/js/govicon.js?siteId=f29c1aa0286c424eb2c17cdc33b572ab&width=20&height=27&type=1" type="text/javascript" charset="utf-8"></script>
    </div>
    <p class="text-center">2017 <%= t("title") %> | <%= link_to "苏ICP备17020941号-1", "http://www.miibeian.gov.cn/" %></p>
  </div>
</footer>
