<div class="jumbotron choose-product choose-foot">

</div>
<footer class="footer footer-list">
  <div class="container">
    <div class="row">
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>产品</strong></li>
          <li><%= link_to "电视扬声器", products_path(category: 1) %></li>
          <li><%= link_to "其他扬声器", products_path(category: 2) %></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>杰夫实验室</strong></li>
          <li><%= link_to "实验中心", laboratory_path %></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>技术支持</strong></li>
          <li><%= link_to "技术支持", support_path %></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>新闻中心</strong></li>
          <li><%= link_to "新闻中心", infos_path %></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>关于我们</strong></li>
          <li><%= link_to "杰夫简介", about_introduction_path %></li>
          <li><%= link_to "资质认证", about_honors_path %></li>
          <li><%= link_to "工作机会", careers_path %></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong></strong></li>
          <li><%= link_to "隐私声明", privacy_path %></li>
          <li><a href="#">条款和条件</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="jiefu-id text-center">
      <script id="jsgovicon" src="http://odr.jsdsgsxt.gov.cn:8081/mbm/app/main/electronic/js/govicon.js?siteId=f29c1aa0286c424eb2c17cdc33b572ab&width=20&height=27&type=1" type="text/javascript" charset="utf-8"></script>
    </div>
    <p class="text-center">2017 无锡杰夫电声股份有限公司</p>
  </div>
</footer>