 <nav class="navbar navbar-inverse navbar-fixed-top" id="myAffix" data-spy="affix" data-offset-top="100">
	<div class="navbar-top">
		<div class="container">
			<div class="language">
				<p class="text-right"><%= link_to t("menu.srm"), "http://218.90.188.142:82/Screen/UFLAT/userlogin.aspx", class: "srm" %> | <small>
						<%= t("menu.language") %>:
						<% if params[:locale] == "zh-CN" %>
							<%= link_to image_tag("USA.png", height: '12', alt: "Logo image"), locale: "en" %>
						<% else %>
							<%= link_to image_tag("China.png", height: '12', alt: "Logo image"), locale: "zh-CN" %>
						<% end %>
					</small></p>
			</div>
		</div>
	</div>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("jiefu-logo.png", height: '38', alt: "Logo image", class: "logo"), root_path %>
    </div>
		<div id="navbar" class="navbar-collapse collapse">
		  <ul class="nav navbar-nav navbar-left">
		    <li class="<%= "#{is_active_controller('products')} || #{is_active_controller('searches')}" %>">
          <%= link_to t("menu.products"), products_path %>
        </li>
		    <li class="<%= "#{is_active_action('laboratory')}" %>"><%= link_to t("menu.laboratory"), laboratory_path %></li>
		    <li class="<%= "#{is_active_action('support')}" %>"><%= link_to t("menu.support"), support_path %></li>
		    <li class="<%= "#{is_active_controller('infos')}" %>"><%= link_to t("menu.news"), infos_path %></li>
		    <li class="<%= "#{is_active_action('about')} || #{is_active_action('about_introduction')} || #{is_active_action('about_honors')} || #{is_active_controller('careers')} " %>"><%= link_to t("menu.about"), about_path %></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
        <%= form_tag '/search', method: :get, class: 'navbar-form navbar-left' do %>
	        <div class="inner-addon left-addon">
					    <i class="glyphicon glyphicon-search"></i>
					    	<%= text_field_tag 'search[name]', params[:search]&.fetch(:name) , class: 'form-control', placeholder: t("menu.placeholder") %>
					</div>
        <% end %>

		  </ul>
		</div><!--/.nav-collapse -->
  </div>
</nav>